<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DemoApp</display-name>
<servlet>
	<servlet-name>AddServlet</servlet-name>
	<servlet-class>com.servlets.learning.AddServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AddServlet</servlet-name>
	<url-pattern>/add</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>name</param-name>
	<param-value>adam</param-value>
</context-param>

<context-param>
	<param-name>phone</param-name>
	<param-value>Iphone</param-value>
</context-param>

</web-app>